* text=auto

.gitattributes export-ignore
.gitignore export-ignore
/resources export-ignore
README.md export-ignore
releases.json export-ignore
CHANGELOG.md export-ignore
LICENSE export-ignore
/.github export-ignore