{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7", "ie >= 10"]
      },
      "modules": false
    }]
  ],
  "plugins": [
    "external-helpers",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}