@craft-padding: 24px;

@craft-primary: #0d78f2;
@craft-input-focused-border: #7dafe8;
@craft-input-focused-shadow: #80caff;

@seo-neutral: #ccc;
@seo-good: #48D983;
@seo-average: #FCAA50;
@seo-poor: #FB4754;

.seo {

	// General
	// =========================================================================

	&--wrap {
		width: calc(~"100% + "@craft-padding *2);
		margin: @craft-padding/3 0 0 -@craft-padding;

		//font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", HelveticaNeue, sans-serif !important;
		//font-weight: 300;

		border-bottom: 1px solid #E3E5E8;
	}

	&--tabs {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;

		font-size: 0;

		background-image: linear-gradient(-180deg, #F7F7F8 0%, #F4F5F6 100%);
		border-top: 1px solid #E3E5E8;

		overflow: auto;
		user-select: none;

		&:after {
			content: '';
			display: block;
			flex-grow: 1;

			border-bottom: 1px solid #E3E5E8;
		}

		a {
			display: inline-block;
			padding: 10px @craft-padding;

			color: fade(#000, 70%);
			font-size: 13px;
			white-space: nowrap;
			letter-spacing: 0;
			text-decoration: none;

			border-right: 1px solid #E3E5E8;
			border-bottom: 1px solid #E3E5E8;

			transition:
					color 0.1s ease,
					background-color 0.1s ease,
					border-bottom-color 0.1s ease;

			&:hover {
				color: @craft-primary;
			}

			&.active {
				border-bottom-color: #fff;
				background-color: #fff;
				color: #000;
			}

			&:last-child {
				@media (max-width: 398px) {
					border-right: none;
				}
			}
		}
	}

	&--tab {
		display: none;
		padding: @craft-padding;

		&.active {
			display: block;
		}
	}

	&--label {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin: 0 0 10px;

		color: #9C9C9C;
		font-size: 12px;
		letter-spacing: 0;

		@media (min-width: 992px) {
			div:last-child:not(:first-child) {
				text-align: right;
			}
		}

		@media (max-width: 992px) {
			display: block;

			div:first-child:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		&:not(:first-child) {
			margin-top: 30px;
		}

		em {
			display: block;
			margin: 0 0 2px;

			color: #000;
			font-size: 15px;
			font-style: normal;
			letter-spacing: 0;
		}

		small {
			display: block;
			margin-bottom: 2px;

			font-size: 10px;
		}

		a {
			display: inline-block;
			margin-bottom: 2px;
			padding: 3px 7px;

			color: #4F4F4F;
			font-size: 11px;
			letter-spacing: 0;

			background: #E9E9E9;
			border-radius: 2px;
		}
	}

	&--light {
		display: inline-block;
		vertical-align: middle;
		width: 10px;
		height: 10px;

		font-size: 0;
		line-height: normal;

		background-color: @seo-neutral;
		border-radius: 100%;

		&.good { background-color: @seo-good }
		&.average { background-color: @seo-average }
		&.poor { background-color: @seo-poor }
	}

	&--panel {
		padding: 30px;

		background: #fff;
		border: 1px solid #E3E5E8;
		border-radius: 2px;
		box-shadow: 0 2px 6px 0 rgba(35,36,46,0.08);
	}

	// Snippet
	// =========================================================================

	&--snippet {
		position: relative;

		&-wrap {
			max-width: 600px;
		}

		&-title {
			display: block;
			width: 100%;
			margin-bottom: 3px;

			color: #1A0DAB;
			font-family: Arial, sans-serif;
			font-size: 18px;
			letter-spacing: 0;
			line-height: normal;

			appearance: none;
			background: none;
		}

		&-url {
			color: #006621;
			font-family: Arial, sans-serif;
			font-size: 14px;
			letter-spacing: 0;
			line-height: normal;
		}

		&-description {
			display: block;
			width: 100%;

			color: #545454;
			font-family: Arial, sans-serif;
			font-size: 12px;
			letter-spacing: 0;
			line-height: 18px;

			appearance: none;
			background: none;
		}

		&-title,
		&-description {
			border: 1px solid transparent;

			transition: border-color 0.2s ease;
		}

		&-edit {
			position: absolute;
			right: 10px;
			bottom: 10px;

			color: #BCBCBC;
			font-size: 10px;
			font-weight: bold;
			letter-spacing: 0.1em;
			line-height: normal;
			text-transform: uppercase;
		}

		&:hover {
			.seo--snippet-title,
			.seo--snippet-description {
				border-color: #eee;
			}
		}
	}

	// Focus Keywords
	// =========================================================================

	&--keywords-input {
		display: flex;
		align-items: center;
		margin: 0 0 15px;
		padding: 5px 0;

		background-color: #F6F6F7;
		border: 1px solid #E3E5E8;
		border-radius: 4px;
		box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.06);

		overflow: auto;
		transition: border-color 0.1s ease, box-shadow 0.1s ease;

		&.focused {
			border-color: @craft-input-focused-border;
			box-shadow:
					inset 0 1px 3px 0 rgba(0,0,0,0.06),
					0 0 5px @craft-input-focused-shadow;
		}

		input {
			display: inline-block;
			flex-grow: 1;
			vertical-align: middle;
			min-width: 225px;
			height: 34px;

			font-size: 14px;
			text-indent: 5px;

			appearance: none;
			background: none;
			border: none;
			outline: none;

			&::placeholder { font-size: 12px }
			&::-moz-placeholder { font-size: 12px }
			&::-webkit-input-placeholder { font-size: 12px }
			&:-ms-input-placeholder { font-size: 12px }
		}

		> a {
			display: inline-flex;
			align-items: center;
			margin: 0 0 0 5px;
			padding: 8px 10px;

			color: #000;
			font-size: 14px;
			text-decoration: none;
			letter-spacing: 0;
			white-space: nowrap;

			background: #fff;
			border: 1px solid #E3E5E8;
			border-radius: 2px;
			box-shadow: 0 2px 6px 0 rgba(35,36,46,0.08);

			transition:
					color 0.1s ease,
					background-color 0.1s ease,
					border-color 0.1s ease,
					box-shadow 0.1s ease;

			&:hover,
			&.active {
				color: #224680;

				background: rgba(81,134,217,0.10);
				border: 1px solid rgba(81,134,217,0.50);
				box-shadow: 0 2px 6px 0 rgba(35,36,46,0.08);

				object a {
					background: rgba(0,0,0,0.15);
				}
			}

			.seo--light {
				margin-right: 10px;
			}

			object a {
				position: relative;

				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 16px;
				margin-left: 10px;

				font-size: 0;

				background: rgba(0,0,0,0.20);
				border-radius: 2px;

				transition: background-color 0.1s ease;

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;

					width: 2px;
					height: 10px;
					margin: -5px 0 0 -1px;

					background-color: #fff;
					border-radius: 2px;

					transition: background-color 0.1s ease;
				}

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}

				&:hover {
					background-color: fade(#5186D9, 20%);

					&:before,
					&:after {
						background-color: #5186D9;
					}
				}
			}
		}
	}

	&--keywords-details {
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			margin: 0 0 20px;
		}

		&-keyword {
			margin: 5px 10px 5px 0;

			color: #000;
			font-size: 22px;
			font-weight: normal;
			letter-spacing: 0;
		}

		&-rating {
			margin: 10px 0;

			font-size: 14px;
			white-space: nowrap;
			letter-spacing: 0;

			div {
				margin-right: 5px;
				vertical-align: middle;
			}
		}

		&-bar {
			margin-bottom: 30px;

			font-size: 0;
			line-height: normal;

			border-radius: 2px;

			overflow: hidden;

			div {
				display: inline-block;
				height: 5px;
			}

			.good { background-color: @seo-good }
			.average { background-color: @seo-average }
			.poor { background-color: @seo-poor }
		}

		&-checklist {
			margin: 0 0 0 26px;

			li {
				position: relative;

				color: #686868;
				font-size: 12px;
				line-height: 20px;

				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}

			.seo--light {
				position: absolute;
				top: 5px;
				left: -26px;
			}
		}
	}

}