@import (inline) "../node_modules/codemirror/lib/codemirror.css";
@import (inline) "../node_modules/codemirror/theme/monokai.css";

.CodeMirror {
	height: auto;
	min-height: 568px;

	&-linenumber {
		opacity: 0.25;
	}
}

.seo--sitemap {

	&-tag {
		display: inline-block;
		padding: 0 5px;
		vertical-align: middle;

		font-size: 11px;

		background-color: #eee;
		border-radius: 3px;
	}

}